<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/visor-usuario/visor-usuario.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      .row {
        
        display: table-row;
        
      }
      #login {
        padding: 15px;
        text-align: center;
        display: block;
        border-radius: 4px;
    
      }

      input, button {
          margin: 5px;
          padding: 10px;
          border-radius: 4px;
        
      }
      input {
        width: 400px;
      }

      h2 {
        color: white;
      }
      
    </style>

      <iron-ajax id="hacerLogin"
                 url="http://localhost:3001/api-uruguay/v2/login"
                 method="POST"
                 handle-as="json"
                 body='{"email": "{{email}}","password": "{{password}}"}'
                 content-type="application/json"
                 on-response="mostrarResultadoLogin"
                 on-error="mostrarError">
      </iron-ajax>

      <iron-ajax id="hacerLogout"
                 url="http://localhost:3001/api-uruguay/v2/logout"
                 method="POST"
                 handle-as="json"
                 body='{"email": "{{email}}"}'
                 content-type="application/json"
                 on-response="mostrarResultadoLogout"
                 on-error="mostrarError">
      </iron-ajax>

      
        <div id="login" class="row">
          <input hidden$="{{logado}}" type="email" value={{email::input}} />
          <input hidden$="{{logado}}" type="password" value={{password::input}} />
          <button hidden$="{{logado}}" on-click="logar">Login</button>
          <span hidden$="{{!logado}}"><h2>Bienvenido</h2></span>
        <button hidden$="{{!logado}}" on-click="logout">Salir</button>
        </div>
        
        <template is="dom-if" if="[[logado]]">
            <visor-usuario></visor-usuario>
          </template>
        
        
        <!--span hidden$="{{logado}}">Te esperamos pronto</span-->
    
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      mostrarResultadoLogin(resultado) {
        console.log("4. Llegaron los resultados");
        console.log(resultado.detail.response);
        console.log("5. Proceso los resultados");
        this.logado = resultado.detail.response.email != undefined;
        console.log("logado: " + this.logado);
        
      }

      mostrarResultadoLogout(resultado) {
        console.log("4. Llegaron los resultados");
        console.log(resultado.detail.response);
        console.log("5. Proceso los resultados");
        this.logado = resultado.detail.response.email == undefined;
        console.log("logado: " + this.logado);
        
      }
      logar() {
        console.log("1. El usuario ha pulsado el botón: " + this.$.hacerLogin.body);
        
        /*this.$.hacerLogin.header.email = this.email
        this.$.hacerLogin.header.password = this.password*/
        console.log("2. Voy a enviar la petición");
        this.$.hacerLogin.generateRequest();
        console.log("3. Petición enviada");
      }
      logout() {
        console.log("1. El usuario ha pulsado el botón: " + this.$.hacerLogout.body);
        
        /*this.$.hacerLogin.header.email = this.email
        this.$.hacerLogin.header.password = this.password*/
        console.log("2. Voy a enviar la petición");
        this.$.hacerLogout.generateRequest();
        console.log("3. Petición enviada");
      }
      mostrarError(error) {
        console.log("4. Llega el error");
        console.log(error);
        this.logado = false;
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>