<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">


<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      .row {
        
        display: table-row;
      }
      .col-6 {
        
        display: table-cell;
        width: 400px;
        padding: 10px;
        color: rgb(94, 92, 92);
        border: 1px solid black;
        background-color: rgb(174, 212, 255);
      }

      .col {
        
        display: table-cell;
        width: 400px;
        padding: 10px;
        
      }

      .col-action {
        
        display: table-cell;
        width: 40px;
        padding: 10px;
        color: rgb(94, 92, 92);
        float: right;
        
        
      }

      #agregar, #listado {
        padding: 20px;
        margin: 10px;
        display: block;
        text-align: center;
        border: 1px solid white;
      }

      label, input, button {
          margin: 5px;
          padding: 10px;
          border-radius: 4px;
      }

      h2 {
        color: white;
      }

      
    </style>
    
    <iron-ajax id="obtenerUsuario"
               url="http://localhost:3001/api-uruguay/v2/users/{{id}}"
               handle-as="json"
               on-response="mostrarDatos">

    </iron-ajax>
    <!--div class="row">
      <span class="col-6">{{nombre}}</span>
      <span class="col-6">{{apellido}}</span>
    </div-->

    <div id="agregar">
      <iron-ajax
              id="agregarUsuario"
              url="http://localhost:3001/api-uruguay/v2/users/"
              method="POST"
              body='{"email": "{{email}}","gender": "{{gender}}","first_name": "{{first_name}}","last_name": "{{last_name}}","password": "{{password}}"}'
              content-type="application/json"
              on-response="mostrarResultadoAgregar"
              on-error="mostrarError">
      </iron-ajax>

      
      <div class="row">
        <label class="col" style="color:white;" for="email">Mail:</label>
        <input class="col" name="email" type="email" value={{email::input}} />
      </div>
      <div class="row">
        <label class="col" style="color:white;" for="first_name">Nombre:</label>
        <input class="col" name="first_name" type="first_name" value={{first_name::input}} />
      </div>
      <div class="row">
        <label class="col" style="color:white;" for="last_name">Apellido:</label>
        <input class="col" name="last_name" type="last_name" value={{last_name::input}} />
      </div>
      <div class="row"> 
        <label class="col" style="color:white;" for="gender">G&eacute;nero:</label>
        <input class="col" name="gender" type="gender" value={{gender::input}} />
      </div>
      <!--div class="row">
        <label class="col" for="password">Contrase&ntilde;a:</label>
        <input class="col" name="password" type="password" value={{password::input}} />
      </div-->
      <button on-click="agregar">Agregar</button>
      

      <span hidden$="{{!agregado}}">Usuario agregado</span>
      <!--span hidden$="{{agregado}}">No fue posible agregar el usuario</span-->
    </div>

    <div id="editar">
      <iron-ajax
              id="editarUsuario"
              url="http://localhost:3001/api-uruguay/v2/users/{{id}}"
              method="PUT"
              body='{"email": "{{email}}","gender": "{{gender}}","first_name": "{{first_name}}","last_name": "{{last_name}}","password": "{{password}}"}'
              content-type="application/json"
              on-response="mostrarResultadoEditar"
              on-error="mostrarError">
      </iron-ajax>
      

      <span hidden$="{{!editado}}">Usuario editado</span>
      <!--span hidden$="{{editado}}">No fue posible editar el usuario</span-->
    </div>


    <div id="eliminar">
      <iron-ajax
              id="eliminarUsuario"
              url="http://localhost:3001/api-uruguay/v2/users/{{id}}"
              method="DELETE"
              content-type="application/json"
              on-response="mostrarResultadoEliminar"
              on-error="mostrarError">
      </iron-ajax>
      <span hidden$="{{!eliminado}}">Usuario eliminado</span>
        
      </div>

      <div id="listado">
    <iron-ajax
            auto="" id="obtenerUsuarios"
            url="http://localhost:3001/api-uruguay/v2/users/"
            last-response="{{users}}"
            on-response="mostrarUsuarios"
            handle-as="json">
    </iron-ajax>

    <h2>Listado</h2>
    <iron-list items="{{users}}" as="user">
      <template>
          <div class="row">
            
            <span><input type="text" class="col-6" value={{user.first_name::input}}></input></span>
            <span><input class="col-6" value={{user.last_name::input}}></input></span>
            
            <span class="col-action"><iron-icon on-click="editar" src="../../img/edit.png">[[user.id]]{{user.first_name}}{{user.last_name}}</iron-icon></span>
            <span class="col-action"><iron-icon on-click="eliminar" src="../../img/delete.png">[[user.id]]{{user.first_name}}{{user.last_name}}</iron-icon></span>
          </div>
      </template>
    </iron-list>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          id: {
            type: Number
          },
          ciudad: {
            type: String, /* comentario */
            value: "Desconocida"
          },
          agregado: {
            type: Boolean,
            value: false
          },
          editado: {
            type: Boolean,
            value: false
          },
          eliminado: {
            type: Boolean,
            value: false
          }

        };
      }
      mostrarDatos(datos) {
        console.log(datos);
        console.log("datos.detail" + datos.detail);
        console.log("datos.detail.response" + datos.detail.response[0]);
        console.log("datos.detail.response.first_name" + datos.detail.response[0].first_name);
        this.nombre = datos.detail.response[0].first_name;
        this.apellido = datos.detail.response[0].last_name;
      }
      mostrarUsuarios(datos) {
        console.log(datos);
        console.log("datos.detail" + datos.detail);
        console.log("datos.detail.response" + datos.detail.response[11]);
        console.log("datos.detail.response.first_name" + datos.detail.response[11].first_name);
        
      }

      mostrarResultadoAgregar(resultado) {
        console.log("4. Llegaron los resultados");
        console.log(resultado.detail.response);
        console.log("5. Proceso los resultados");
        this.agregado = resultado.detail.response.email != undefined;
        console.log("agregado: " + this.agregado);
        
      }

      mostrarResultadoEditar(resultado) {
        console.log("4. Llegaron los resultados");
        console.log(resultado.detail.response);
        console.log("5. Proceso los resultados");
        this.editado = resultado.detail.response.email != undefined;
        console.log("editado: " + this.editado);
        
      }

      mostrarResultadoEliminar(resultado) {
        console.log("4. Llegaron los resultados");
        console.log(resultado.detail.response);
        console.log("5. Proceso los resultados");
        this.eliminado = resultado.detail.response.email != undefined;
        console.log("eliminado: " + this.eliminado);
        
      }

      agregar() {
        console.log("1. El usuario ha pulsado el botón: " + this.$.agregarUsuario.body);
        console.log("2. Voy a enviar la petición");
        this.$.agregarUsuario.generateRequest();
        console.log("3. Petición enviada");
      }

      editar(event) {
        this.id = event.model.user.id;
        this.first_name = event.model.user.first_name;
        this.last_name = event.model.user.last_name;
        console.log("1. El usuario ha pulsado el botón: " + this.id);
        console.log("2. Voy a enviar la petición");
        this.$.editarUsuario.generateRequest();
        console.log("3. Petición enviada");
      }
      eliminar(event) {
        this.id = event.model.user.id;
        this.first_name = event.model.user.first_name;
        this.last_name = event.model.user.last_name;
        console.log("1. El usuario ha pulsado el botón: " + this.id);
        console.log("2. Voy a enviar la petición");
        this.$.eliminarUsuario.generateRequest();
        console.log("3. Petición enviada");
      }
      mostrarError(error) {
        console.log("4. Llega el error");
        console.log(error);
        this.agregado = false;
        this.editado = false;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>