<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="app-component2">
  <template>
    <style>
      :host {
        display: block;
        color: green;
      }
    </style>
    <h2>Nombre input: [[name]], Edad input: [[age]]</h2-->
    <ul>
      <li>Item1</li>
      <li>Item2</li>
    </ul>
    <input type="text" value="{{name::input}}"></input>
    <input type="range" min="18" max="40" value="{{age::input}}"></input>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AppComponent2 extends Polymer.Element {
      static get is() { return 'app-component2'; }
      static get properties() {
        return {
          id: {
            type: String,
            value: '12345'
          },
          name: {
            type: String
          },
          age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(AppComponent2.is, AppComponent2);
  </script>
</dom-module>
