<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../app-component2/app-component2.html">

<dom-module id="app-component">
  <template>
    <style>
      :host {
        display: block;
        color: red;
      }
    </style>
    <h2>Id: [[id]], Nombre: [[name]], Edad: [[age]]</h2>
    <app-component2></app-component2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AppComponent extends Polymer.Element {
      static get is() { return 'app-component'; }
      static get properties() {
        return {
          id: {
            type: String,
            value: '12345'
          },
          name: {
            type: String
          },
          age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(AppComponent.is, AppComponent);
  </script>
</dom-module>
